In [13]:
import os
import pandas as pd

In [14]:
data1_path = os.path.join('data', 'Combined_data1.csv')
data1_df = pd.read_csv(data1_path, low_memory=False)

In [15]:
# drop columns that will not be necessary for analysis
clean_data1 = data1_df.drop(columns=['tripduration','end station id','end station name','bikeid','birth year','gender'])
clean_data1

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype,year,month,start_hour,end_hour,date
0,23:19.8,02:13.3,3694,Jackson Square,40.711130,-74.078900,40.714584,-74.042817,Customer,2020,7,0,0,7/1/2020
1,27:45.2,47:49.2,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,40.727224,-74.033759,Subscriber,2020,7,0,0,7/1/2020
2,34:17.9,47:24.6,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,40.723659,-74.064194,Subscriber,2020,7,0,0,7/1/2020
3,51:07.5,15:56.0,3677,Glenwood Ave,40.727551,-74.071061,40.725340,-74.067622,Subscriber,2020,7,0,0,7/1/2020
4,51:16.4,35:58.5,3191,Union St,40.718211,-74.083639,40.724605,-74.078406,Subscriber,2020,7,0,0,7/1/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210454,16:05.5,57:22.0,3187,Warren St,40.721124,-74.038051,40.719420,-74.050990,Subscriber,2021,1,0,0,1/1/2021
210455,05:05.2,07:32.9,3186,Grove St PATH,40.719586,-74.043117,40.721124,-74.038051,Subscriber,2021,1,0,0,1/1/2021
210456,06:23.6,17:23.8,3211,Newark Ave,40.721525,-74.046305,40.714584,-74.042817,Subscriber,2021,1,0,0,1/1/2021
210457,16:37.8,23:02.1,3205,JC Medical Center,40.716540,-74.049638,40.713464,-74.062859,Subscriber,2021,1,0,0,1/1/2021
210458,24:50.9,30:47.3,3639,Harborside,40.719252,-74.034234,40.719586,-74.043117,Subscriber,2021,1,0,0,1/1/2021

In [16]:
data2_path = os.path.join('data', 'Combined_data2.csv')
data2_df = pd.read_csv(data2_path, low_memory=False)

In [17]:
# drop columns that will not be necessary for analysis
clean_data2 = data2_df.drop(columns=['ride_id','rideable_type','end_station_name','end_station_id'])
clean_data2

,started_at,ended_at,start_station_name,start_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year,month,start_hour,end_hour,date
0,11:00.0,18:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046964,40.734786,-74.050444,member,2021,2,23,23,2/1/2021
1,34:00.0,56:00.0,Newport Pkwy,JC008,40.728744,-74.032108,40.714584,-74.042817,member,2021,2,16,16,2/1/2021
2,16:00.0,22:00.0,Journal Square,JC103,40.733670,-74.062500,40.723659,-74.064194,member,2021,2,23,23,2/1/2021
3,51:00.0,16:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual,2021,2,16,17,2/1/2021
4,44:00.0,44:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member,2021,2,20,20,2/1/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162244,27:00.0,33:00.0,Newport PATH,JC066,40.727224,-74.033759,40.727596,-74.044247,member,2021,6,18,18,6/1/2021
162245,05:00.0,14:00.0,Newport PATH,JC066,40.727223,-74.033758,40.719586,-74.043117,member,2021,6,19,19,6/1/2021
162246,44:00.0,52:00.0,Montgomery St,JC099,40.719420,-74.050990,40.727596,-74.044247,member,2021,6,17,17,6/1/2021
162247,48:00.0,55:00.0,Montgomery St,JC099,40.719420,-74.050990,40.719586,-74.043117,member,2021,6,14,14,6/1/2021
162248,47:00.0,51:00.0,Montgomery St,JC099,40.719420,-74.050990,40.719586,-74.043117,member,2021,6,7,7,6/1/2021

In [18]:
# rename columns for readability
clean_data2 = clean_data2.rename(columns={'started_at':'starttime',
                                          'ended_at':'stoptime', 
                                          'start_station_name':'start station name',
                                          'start_lat':'start station latitude',
                                          'start_lng':'start station longtitude',
                                          'end_lat':'end station latitude',
                                          'end_lng':'end station longitude',
                                          'member_casual':'usertype'                                        
                                         })

In [19]:
clean_data2.replace({'usertype':'member'},{'usertype':'Subscriber'},inplace=True)
clean_data2.replace({'usertype':'casual'},{'usertype':'Customer'},inplace=True)
clean_data2

,starttime,stoptime,start station name,start_station_id,start station latitude,start station longtitude,end station latitude,end station longitude,usertype,year,month,start_hour,end_hour,date
0,11:00.0,18:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046964,40.734786,-74.050444,Subscriber,2021,2,23,23,2/1/2021
1,34:00.0,56:00.0,Newport Pkwy,JC008,40.728744,-74.032108,40.714584,-74.042817,Subscriber,2021,2,16,16,2/1/2021
2,16:00.0,22:00.0,Journal Square,JC103,40.733670,-74.062500,40.723659,-74.064194,Subscriber,2021,2,23,23,2/1/2021
3,51:00.0,16:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,Customer,2021,2,16,17,2/1/2021
4,44:00.0,44:00.0,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,Subscriber,2021,2,20,20,2/1/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162244,27:00.0,33:00.0,Newport PATH,JC066,40.727224,-74.033759,40.727596,-74.044247,Subscriber,2021,6,18,18,6/1/2021
162245,05:00.0,14:00.0,Newport PATH,JC066,40.727223,-74.033758,40.719586,-74.043117,Subscriber,2021,6,19,19,6/1/2021
162246,44:00.0,52:00.0,Montgomery St,JC099,40.719420,-74.050990,40.727596,-74.044247,Subscriber,2021,6,17,17,6/1/2021
162247,48:00.0,55:00.0,Montgomery St,JC099,40.719420,-74.050990,40.719586,-74.043117,Subscriber,2021,6,14,14,6/1/2021
162248,47:00.0,51:00.0,Montgomery St,JC099,40.719420,-74.050990,40.719586,-74.043117,Subscriber,2021,6,7,7,6/1/2021

In [20]:
# merge dataframes
frames = [clean_data1, clean_data1]

data_merge = pd.concat(frames)

In [21]:
# Push the remade DataFrame to a new CSV file
data_merge.to_csv("data/data.csv", index=False, header=True)